h1{
    color: blue;
}
h3{
    color: blue;

}
body{
    background-color:azure;
}
P{
    color: cadetblue;
}
table {
    table-layout: fixed;
    width: 50%;
    border: solid purple;
  }
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }